.searchBar {
  padding: 0 1.25rem;
  flex-shrink: 0;
  > .searchBar-inner {
    display: flex;
    color: #999;
    border: 1px solid rgba(0,0,0,.1);
    padding: .5rem;
    > input[type='search'] {
      border: 0;
      outline: none;
      flex-grow: 1;
      margin-left: .5rem;
    }
  }
  margin-bottom: .5rem;
}